/* quiz section */
.quiz {
	width: 97vw;
	margin: 2vw;
}

.quiz-submit {
	background-color: #1d3552;
	border-radius: 1rem;
	border-style: none;
	border: none;
	padding: 5px 20px;
	color: white;
	font-size: 1rem;
}

.quiz h3 {
	color: #1d3552;
}
/* .qstn-wrapper section */
.qstn-wrapper {
	width: 98%;
	height: fit-content;
	min-width: 280px;
	max-width: 768px;
	padding: 0.1rem;
	margin-top: 0.1rem;
}

.qstn {
	font-size: 1.25rem;
	padding: 0.2rem;
	text-align: justify;
}

.qstn-wrapper form {
	margin: 5px 0px;
	display: flex;
	flex-direction: column;
}

.qstn-wrapper button {
	background-color: #0378f5;
	border-radius: 1rem;
	border-style: none;
	border: none;
	padding: 5px 20px;
	color: white;
	font-size: 1.25rem;
}

/*Choice section*/
.choice {
	border: 0.1px solid rgba(105, 90, 205, 0.26);
	border-radius: 20px;
	padding: 2px;
	margin: 1px 0px;
	max-width: 768px;
}

.choice label {
	width: 100px;
	display: inline-block;
	width: 90%;
}

.choice:hover {
	background-color: rgb(177, 175, 174);
}

/* user dashboard */
.user-dashboard {
	width: 60%;
	position: relative;
	top: 10vh;
	left: 20vw;
	display: flex;
	flex-direction: column;
}

.quiz-card {
	width: 98%;
	margin: 1rem auto;
	background-color: lightgray;
	border-radius: 8px;
	padding: 0.5rem;
}

.card-button{
	background-color: #0378f5;
	border-radius: 8px;
	border-style: none;
	border: none;
	padding: 5px 20px;
	color: white;
	/* font-size: 1rem; */
}